* {
	box-sizing: border-box;
}
html body {
	background-color: #f0eceb;
}
.featurette p, .featurette h2:not(.text-danger), .featurette h1, .featurette h3{
	color: #283018;
}
.featurette h1{
	font-size: 45px;
}
a{
	cursor: pointer;
}
footer a{
	color: #aa863a;
}
footer ul{
	padding-left: 0;
}
header{
	background-color: #729f98;
	color: #f0eceb;
}
header h1{
	font-size: 35px;
	margin-top: 20px;
}

header h1 span{
	font-size: 20px;
}
.photo{
	height: auto;
	width: auto;
	max-height: 750px;
	max-width: 100%;
}
video{
	height: auto;
	width: auto;
}
.btn-block.correct{
	background-color: #729f82;
	border-color: #729f82;
	transition: all .4s linear;

}
.game-container{
	border: 5px solid #666;
}
.btn-block.incorrect {
	animation: shake .4s linear;
}
.subreddit img{
	max-width: 100%;
}
.subreddit .box{
	border: 1px solid #729f98;
	background-color: #729f98;
	margin-bottom: 20px;
	border-radius: 3px;

}
.subreddit a{
	color: white;
	text-align: center;
	vertical-align: center;
}
.brunqy{
	max-height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

hr{
	border-top: 1px solid black;
}
@keyframes shake{
	0%{
		margin-left: 10px;
	}
	33%{
		margin-left: 0px;
	}
	66%{
		margin-left: 10px;
	}
	100%{
		margin-left: 0px;
	}
}
.btn-block{
	width: 100%;
	height: auto;
	margin: 15px 0px;
	white-space: normal;
	background-color: #729f98;
	border-color: #729f98;
}
ul {
	list-style: none;
}
.answers{
	margin-bottom: 0;
}
.answers label{
	font-size: 15px;
	cursor: pointer;

}
.answers li:hover label{
}
input[type=radio]{
	display: none;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }