* {
	box-sizing: border-box;
}
html body {
	background-color: #70D9D4;
}

.photo{
	border-radius: 6%;
	height: auto;
	width: auto;
	max-height: 500px;
}
video{
	border-radius: 6%;
	height: auto;
	width: auto;
}

.next-button{
	border-radius: 5px;
	float: right;
	margin: 10px;
}

ul {
	list-style: none;
}
.answers{
	margin-bottom: 0;
	font-size: 12px;
}
.answers li:hover{
	font-size: 15px;
}
input[type=radio]{
	display: none;
}
